* {
    box-sizing: border-box;
}

:root {
    --font-heading: "Sen", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

.btn {
    display: inline-block;
    color: #fff;
    line-height: 50px;
    min-width: 118px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0 16px;
    border-radius: 24.5px;
    background: #171100;
}

a {
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.word-break-all {
    word-break: all;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* =============== Header ================== */
.header {
    background: #fffcf4;
}

.fixed {
    position: sticky;
    /* Tạp phần padding-top: 8px khi cuộn xuống dưới */
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    position: relative;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 8px 21px;
}

/* Hover tạo chữ đậm */
.header .nav a:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

/* Hover tạo element giả */
.header .nav li:hover a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .btn-sign-up {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* =============== Hero ================== */
.hero {
    padding: 56px 0 65px 0;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .body .media-blog {
    position: relative;
    width: 48%;
}

.hero .media-blog .img {
    display: block;
    width: 470px;
    max-width: 100%;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .media-blog .card-blog {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .card-blog .item {
    display: flex;
    align-items: center;
}

.hero .card-blog .item + .item {
    margin-top: 22px;
}

.hero .item .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .item:nth-child(1) .icon {
    background-color: #fff9e8;
}

.hero .item:nth-child(2) .icon {
    background-color: #fcefff;
}

.hero .item:nth-child(3) .icon {
    background-color: #ebeaff;
}

.hero .item .info {
    margin-left: 16px;
}

.hero .item .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.hero .item .title {
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.hero .body .content-blog {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .content-blog .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17; /* 117.241% */
    letter-spacing: -1.16px;
}

.hero .content-blog .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
    margin-bottom: 38px;
}

.hero .content-blog .cta-group {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    padding: 0;
}

.hero .content-blog .see-courses {
    min-width: 180px;
    line-height: 64px;
    border-radius: 32px;
    background: #ffb900;
}

.hero .content-blog .watch-video {
    display: flex;
    align-items: center;
    background: #fffcf4;
    border: none;
    margin-left: 28px;
}

.hero .content-blog .watch-video:hover {
    cursor: pointer;
}

.hero .watch-video .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66rem; /* 166.667% */
}

.hero .content-blog .desc-recent {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.hero .stats {
    display: flex;
    margin-top: 19px;
}

.hero .stats p:first-child {
    margin-right: 28px;
}

.hero .stats strong {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22rem; /* 122.727% */
    padding-right: 8px;
}

/* =============== Popular ================== */
.popular {
    background-color: #fff;
    padding: 200px 0;
}

.popular .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .popular-top .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}

.popular .popular-top .desc {
    width: 458px;
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.popular .popular-top .arrow-right {
    margin-left: 18px;
}

.popular .popular-bottom {
    margin-top: 55px;
}

.popular .popular-bottom .list {
    display: flex;
    gap: 30px;
}

.popular-bottom .list .item {
    flex: 1;
    width: 370px;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #e2dfda;
}

.popular-bottom .list .item:hover {
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular-bottom .list .img-title {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular-bottom .list .body {
    padding: 16px 22px;
}

.popular-bottom .list .title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-bottom .list .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    padding-right: 6px;
}

.popular-bottom .list .desc {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.popular-bottom .list .price-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.popular-bottom .list .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.popular-bottom .list .btn-book {
    min-width: 118px;
    font-size: 1.4rem;
}

.popular-bottom .list .btn-book:hover {
    background: #ffb900;
}

/* =============== Feedback ================== */
.feedback {
    padding: 96px 0;
    background: #2e2100;
}

.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    width: 100%;
    /* transform: translateX(-100%);
    transition: all ease 0.4s; */
}

.feedback .feedback-item .info {
    width: 14%;
}

.feedback .feedback-item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .feedback-item .title {
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41; /* 141.667% */
    margin-top: 18px;
}

.feedback .feedback-item .desc {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85rem; /* 185.714% */
    margin-top: 4px;
}

.feedback .feedback-item .dosts {
    margin-top: 28px;
}

.feedback .feedback-item .dost {
    display: inline-block;
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback .feedback-item .active {
    background: #ffb900;
    cursor: default;
}

.feedback .feedback-item .content {
    position: relative;
    width: 66%;
    padding: 28px 0 0 30px;
}

.feedback .content blockquote {
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.53; /* 153.846% */
}

.feedback .content .open-quotes {
    position: absolute;
    top: 0;
    left: 0;
}

/* =============== Feature ================== */
.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .body .img-blog {
    width: 49%;
    display: flex;
    gap: 0 30px;
}

.features .img-blog img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.features img.lower {
    margin-top: 34px;
}

.features .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 41%;
}

.features .content .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}

.features .content .desc {
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.features .content .desc.top {
    margin: 16px 0;
}

.features .content .btn-feature {
    margin-top: 32px;
    min-width: 137px;
    background-color: #ffb900;
}

/* =============== Feature 2 ================== */
.features-2nd {
    /* Padding feature_1 + feature_2 = 130 => 200 - 130 = 70 */
    margin-top: 70px;
}

.features-2nd .body {
}

.features-2nd .body .content {
    width: 49%;
}

.features-2nd .body .img-blog {
    width: 41%;
    justify-content: flex-end;
}

.features-2nd .img-blog img {
    width: 470px;
    height: 440px;
}

/* =============== Blog ================== */
